{% extends 'base.html' %}

{% block title %}User Dashboard{% endblock %}

{% block content %}
<header>
    <h1>User Dashboard</h1>
</header>
<main>
    <section class="user-profile">
        
        <div class="profile-info">
            

            {% if user_profile.client_photo %}
                <img src="{{ user_profile.client_photo.url }}" alt="Client Photo" style="width: 100px; height: 100px;">
            {% elif user_profile.therapist_photo %}
                <img src="{{ user_profile.therapist_photo.url }}" alt="Therapist Photo" style="width: 100px; height: 100px;">
            {% endif %}
        </div>
    </section>

    <section>
        <h2><p><strong>Username:</strong> {{ user.username }}</p> </h2>
        <p>Manage your sessions, view analytics, and more:</p>
        <ul>
            <li><a href="{% url 'session_list' %}">View Sessions</a></li>
            <li><a href="{% url 'profile' %}">Go to Profile</a></li>
            <!-- Add more links as necessary -->
        </ul>
    </section>
</main>

<style>
    .profile-info {
        display: flex; /* Use flexbox for horizontal layout */
        align-items: center; /* Align items vertically centered */
        margin-bottom: 20px; /* Space between profile info and dashboard sections */
    }
    .profile-info img {
       
        margin-left: 20px; /* Space between text and image */
    }
</style>
{% endblock %}
